* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
    
    
    
}
.formStyle{
  padding: 20px;
  border: 1px solid black;
  width: 30%;
  max-width: 500px;
  text-align: center;
  border-radius: 15px;
}

.form-control{
  border-color: black !important;
  max-width: 100%;
  width: 500px;
  
}

.uploaded{
  margin-top: 30px;
  width: 100%;
  text-align: center;
  
}
.output-div{
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
}
.inner-div{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.pdf-div{
  padding: 50px;
  background-color: #dedede;
  margin-top: 50px;
  max-width: 100%;
}
canvas.react-pdf__Page__canvas {
  margin-bottom: 50px;
  max-width: 100%;
}
.btn{
  max-width: 100%;
  margin-top: 5px;
  transition: all .40s ease;
}
.btn:hover{
  transform: scale(0.9) translateY(-5px);
 
}


@media (max-width: 1440px) {
  .App{
    max-width: 100%;
    
   }
  .formStyle {
    max-width: 100%;
  }
  
  .btn {
    width: 100%;
  }
  .uploaded{
   width: 100%;

  }

}
@media(max-width:660px){
   .App{
    max-width: 100%;
    
   }
  .formStyle {
    max-width: 50%;
  }
  
  .btn {
    width: 50%;
    padding: 10px;
  }
  .uploaded{
   width: 50%;

  }
  

}


